#!/usr/bin/make -f

KDIR ?= /lib/modules/$(shell uname -r)/build
export KDIR
DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@  --with autotools_dev,quilt

override_dh_auto_build:
	( cd modules/uio && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) )
	( cd modules/pp2 && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) )
	( cd modules/sam && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) )
	( cd modules/dmax2 && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) )
	dh_auto_build

override_dh_auto_configure:
	sh bootstrap
	dh_auto_configure -- \
		--enable-bpool-cookie=64 \
        	--enable-bpool-dma=64 \
        	--enable-dma-addr=64 \
        	--enable-sam

override_dh_auto_install:
	dh_auto_install --destdir=$(DESTDIR)
	( cd modules/uio && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) INSTALL_MOD_PATH=$(DESTDIR) modules_install )
	( cd modules/pp2 && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) INSTALL_MOD_PATH=$(DESTDIR) modules_install )
	( cd modules/sam && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) INSTALL_MOD_PATH=$(DESTDIR) modules_install )
	( cd modules/dmax2 && env -uLDFLAGS -uCFLAGS $(MAKE) KDIR=$(KDIR) INSTALL_MOD_PATH=$(DESTDIR) modules_install )

override_dh_auto_clean:
	( cd modules/uio && rm -f *.o && rm -f *.ko )
	( cd modules/pp2 && rm -f *.o && rm -f *.ko )
	( cd modules/sam && rm -f *.o && rm -f *.ko )
	( cd modules/dmax2 && rm -f *.o && rm -f *.ko )
	dh_auto_clean
